main {
    overflow: hidden;
    position: relative;
    border: 1px solid darkcyan;
    width: 400px;
    height: 956px;
    margin: 50px auto;
    padding: 0 20px;
    .status_bar {
        margin: 15px auto;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        img {
        }
    }
    .title_menu {
        margin-bottom: 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        h2 {
            font-weight: 600;
            font-size: 20px;

        }
        .menu {
            display: flex;
            gap:10px;
            .search {
                img {}
            }
            .side_menu {
                img {}
            }
        }
    }
    .list_count {
        display: flex;
        gap: 20px;
        margin-bottom: 30px;
        >p {
            line-height: 16px;
        }
        p:nth-of-type(1) {
            font-weight: 500;
        }
        p:nth-of-type(2) {color:#767676;}
    }
    .list {
        ul {
            li {
                display: flex;
                justify-content: space-between;
                padding: 10px 0;
                border-top: 1px solid #b4b4b4;
                .date_content {
                    display: flex;
                    p {}
                    .date {
                        font-weight: 500;
                        margin-right: 8px;
                    }
                    .content {}
                }
                .check {
                    
                    img {}
                }
            }
            li:first-child {border:none;}
        }
    }
    .edit {
        position: absolute;
        bottom: 50px;
        right:20px;
        width: 46px;
        height: 46px;
        background-color: #1EDEF3;
        border-radius: 23px;
        img {}
    }
    .edit:hover {
        background-color: #67F0FF;
    }

    .add_box {
        z-index: 999;
        position: relative;
        background-color: #fff;
        position: absolute;
        top:40%; left: 50%;
        transform: translate(-50%,-50%);
        width: calc(100% - 40px);
        display: none;
        height: fit-content;
        padding: 10px;
        border: 1px solid #212121;
        .row1 {
            margin-bottom: 30px;
            display: flex;
            justify-content: space-between;
            .cancel {}
            .save {}
        }
        .todo_date {
            margin-bottom: 10px;
            display: flex;
            align-items: center;
            img {}
            span {margin-left: 10px;}
        }
        .text_box {
            border: 0.5px solid #b4b4b4;
            .text_on {
                padding: 10px;
                height: 175px;
                width: 100%;
            }
        }
    }
    .add_box.active {
        display: block;
    }



    .notch {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%,-50%);
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        margin: 15px auto;
        img {}
    }
}